<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Create Profile</h1>

    <h1>Bio</h1>

    <form action="/addInfo" method="POST">
    
        
        
            <h2> Firstname:</h2>
            
            <input type="text" placeholder="First Name" name="FName">
                    
          

            <h2> Lastname:</h2>
                
            <input type="text" placeholder="Last Name" name="LName">
                    
               
            
            <h2> Email</h2>

            
            <input type="text" placeholder="" name="email">
                
           


            <h3> Age: </h3>
                
            
            <input type="text" placeholder="" name="age">
            
           

            <h3> Race/ Ethnicity</h3>
            <!-- Need drop down menu -->
            
            <input type="text" placeholder="" name="race">
                
           

            <h2>Education: </h2>
            
            <h3> College/University: </h3>
            <!-- Need drop down menu -->

            
            <input type="text" placeholder="" name="College">
                
          

            <h3> Highest Level Of Education: </h3>
            <!-- Need drop down menu -->

            
            <input type="text" placeholder="" name="Education">
                
            

            <h3> Brief description about yourself</h3>
            <input type="text" placeholder="" name="description">

            <!-- <textarea></textarea> -->
        
        <input type="submit">    
    </form>        





</body>
</html>