<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/createprofile.css" type="text/css">
    <title>Create a Profile</title>
</head>
<body>
    <!-- Header -->
    <div class="menu_bar">
        <h1 class="logo">Create<span>Account</span></h1>

        <ul> 
            <li> <a href="/"> Home</a></li>

        </ul>




    </div>
    
   
        
        
   
    

    <h2> Make an impact today !
        <!-- <p id="why"> When you create a profile, that is the first step in becoming an Uber Professor. When you create a profile
        you make it easier for school officials to find a quick and easy substitue. When writing the description make sure to be 
        detailed as possible because we want the people viewing the profile to as much about you. </p> -->
    </h2>

    <form action="/addInfo" method="POST">
    
            
            <label> Resume </label>
            <input name="resume" type="file"><br><br>



            <label>First name:</label>
            <input type="text" id="fname" name="fname"><br><br>      
          

            <label for="lname">Last name:</label>
            <input type="text" placeholder="" name="lname"><br><br>
                    
               
            
            <label>Email:</label>
            <input type="text" placeholder="" name="email"><br><br>
                
           
            <label>State:</label>
            <select name="states"> 
                <option> --Select a State--</option>
                <option value="Alabama">Alabama</option>
                <option value="Alaska">Alaska</option>
                <option value="">Arizona</option>
                <option value="">Arkansas</option>
                <option value="">California</option>
                <option value="">Colorado</option>
                <option value="">Connecticut</option>
                <option value="">Delaware</option>
                <option value="">Florida</option>
                <option value="">Georgia</option>
                <option value="">Hawaii</option>
                <option value="">Idaho</option>
                <option value="">Illinois</option>
                <option value="">Indiana</option>
                <option value="">Iowa</option>
                <option value="">Kansas</option>
                <option value="">Kentucky</option>
                <option value="">Louisiana</option>
                <option value="">Maine</option>
                <option value="">Maryland</option>
                <option value="">Massachusetts</option>
                <option value="">Michigan</option>
                <option value="">Minnesota</option>
                <option value="">Mississippi</option>
                <option value="">Missouri</option>
                <option>Montana</option>
                <option>Nebraska</option>	
                <option>Nevada</option>	
                <option>New Hampshire</option>	
                <option>New Jersey</option>
                <option>New Mexico</option>	
                <option>New York</option>	
                <option>North Carolina</option>	
                <option>North Dakota</option>	
                <option>Ohio</option>
                <option>Oklahoma</option>	
                <option>Oregon</option>	
                <option>Pennsylvania</option>	
                <option>Rhode Island</option>
                <option>South Carolina</option>	
                <option>South Dakota</option>	
                <option>Tennessee</option>	
                <option>Texas</option>
                <option>Utah</option>	
                <option>Vermont</option>	
                <option>Virginia</option>	
                <option>Washington</option>	
                <option>West Virginia</option>	
                <option>Wisconsin</option>	
                <option>Wyoming</option>
            </select><br><br>



            
            <label>Age:</label>
            <input type="text" placeholder="" name="age"><br><br>
            
           

            <label>Race/Ethnicity:</label>
            <select name="race">
                <option> Select... </option>
                <option value="Hispanic or Latino"> Hispanic or Latino </option>
                <option value="White (Not Hispanic or Latino)"> White (Not Hispanic or Latino) </option>
                <option value="Black or African"> Black or African (Not Hispanic or Latino) </option>
                <option value="Native Hawaiian or Paccfifc Islander"> Native Hawaiian or Paccfifc Islander (Not Hispanic or Latino)</option>
                <option value="Asian"> Asian</option>
                <option value="American Indian or Alaska Native"> American Indian or Alaska Native </option>
                <option value="Decline to self-identify"> Decline to self-identify</option>
            </select> <br><br>  

            
            
            
           
            <label >Highest Level of Education:</label>
            <input type="text" placeholder="" name="hloe"><br><br>
            
            
            
            
            <label>University/College:</label>   
            <input type="text" placeholder="" name="school"> <br><br>
          

            <p><label>Briefly describe yourself and why you want to be apart of Uber Professor:</label></p>
            <textarea name="description" rows="4" cols="50"></textarea>
            
            
        
        <input type="submit">    
    </form>        





</body>
</html>