<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Create Profile</h1>

    <h1>Bio</h1>

    <form action="/addInfo" method="POST">
    
            
        
            <h2> Firstname:</h2>
            <input type="text" placeholder="" name="FName">
                    
          

            <h2> Lastname:</h2>
            <input type="text" placeholder="" name="LName">
                    
               
            
            <h2> Email</h2>
            <input type="text" placeholder="" name="email">
                
           
            <h3> State:</h3>
            <input type="text" placeholder="" name="state">
            <!-- <form action="/search" method="POST"> -->

                <select>
                <option value="">Alabama</option>
                <option value="">Alaska</option>
                <option value="">Arizona</option>
                <option value="">Arkansas</option>
                <option value="">California</option>
                <option value="">Colorado</option>
                <option value="">Connecticut</option>
                <option value="">Delaware</option>
                <option value="">Florida</option>
                <option value="">Georgia</option>
                <option value="">Hawaii</option>
                <option value="">Idaho</option>
                <option value="">Illinois</option>
                <option value="">Indiana</option>
                <option value="">Iowa</option>
                <option value="">Kansas</option>
                <option value="">Kentucky</option>
                <option value="">Louisiana</option>
                <option value="">Maine</option>
                <option value="">Maryland</option>
                <option value="">Massachusetts</option>
                <option value="">Michigan</option>
                <option value="">Minnesota</option>
                <option value="">Mississippi</option>
                <option value="">Missouri</option>
                <option value="">Alabama</option>
                <option value="">Alabama</option>
                <option value="">Alabama</option>
                <option value="">Alabama</option>
                <option>Montana</option>
                <option>Nebraska</option>	
                <option>Nevada</option>	
                <option>New Hampshire</option>	
                <option>New Jersey</option>
                <option>New Mexico</option>	
                <option>New York</option>	
                <option>North Carolina</option>	
                <option>North Dakota</option>	
                <option>Ohio</option>
                <option>Oklahoma</option>	
                <option>Oregon</option>	
                <option>Pennsylvania</option>	
                <option>Rhode Island</option>
                <option>South Carolina</option>	
                <option>South Dakota</option>	
                <option>Tennessee</option>	
                <option>Texas</option>
                <option>Utah</option>	
                <option>Vermont</option>	
                <option>Virginia</option>	
                <option>Washington</option>	
                <option>West Virginia</option>	
                <option>Wisconsin</option>	
                <option>Wyoming</option>
                </select>
            <!-- </form> -->

            <h3> Age: </h3>
            <input type="text" placeholder="" name="age">
            
           

            <h3> Race/ Ethnicity</h3>
            
            <input type="text" placeholder="" name="race">
                <select>
                <option> Hispanic or Latino </option>
                <option> White (Not Hispanic or Latino) </option>
                <option> Black or African (Not Hispanic or Latino) </option>
                <option> Native Hawaiian or Paccfifc Islander (Not Hispanic or Latino)</option>
                <option> Asian</option>
                <option> American Indian or Alaska Native </option>
                <option> Decline to self-identify</option>
                </select>        
            
            
            
           

            <h2>Education: </h2>
            
            <h3> College/University: </h3>
            <input type="text" placeholder="" name="College">
                
          

            <h3> Highest Level Of Education: </h3>
            <input type="text" placeholder="" name="Education">
                
            

            <h3> Brief description about yourself</h3>
            <input type="text" placeholder="" name="description">

            <!-- <textarea></textarea> -->
        
        <input type="submit">    
    </form>        





</body>
</html>