<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="public/css/home.css" type="text/css">
</head>

<body>
    <!-- Header -->
    <div class="menu_bar">
        <h1 class="logo">Uber<span>Professor</span></h1>
        
        <ul>
            
            <li> <a class="header" href="/"> Home</li>
            <li> <a class="header" href="Login"> Login</li>
            <li> <a class="header" href="Sign-Up"> Sign Up </li>
            <li> <a class="header" href="Create"> Create Profile </a> </li>
            
        </ul>
            
    </div>
    <!-- Header -->
    

    
    <h1 id="Title"> Welcome to Uber Professor</h1>
    <h2> Find your local Professor </h2>
    <h2> who is in your area</h2>

    
    <section>
        <form action="/EducatorSearch" method="POST">
            
            
                
                <input type="text" id="first" name="professor" placeholder="Professor...">
                <input type="text" id="second" name="city" placeholder="City, state, or zip code">
                <input type="date" id="third" name="date" placeholder="Tomorrow">
                <input type="text" id="fourth" name="subject" placeholder="Choose your subject"> 
                <!-- <button type="submit"><i class="fas fa-search"></i></button>  -->
                
                    
            <!-- <input type="submit">     -->
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>

    </section>



    <section>
        <input type="text" name="subject" id="subject" placeholder="Choose subject">
        <button id="search"> Search</button>
    </section>

    <ul>
        <% for(let i=0; i < educators.length; i++) {%> 
            <li>
                <span><%= educators[i].firstName %></span>    
            </li>
        <% } %>
    </ul>



    <!-- Footer -->
    <section id="footer">
        <nav class="column1">  
            <ul>
                
                <li > <a  href="/"> Home</li>
                <li > <a  href="Login"> Login</li>
                <li > <a  href="Sign-Up"> Sign Up </li>
                <li > <a  href="Create"> Create Profile </a> </li>
                
            </ul>
        </nav>
    </section>

    
    
    
    
    <script src="public/index.js"></script>
</body>
</html>