<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="public/style.css">
</head>
<body>

    <h1 class="header"> Welcome to Professor Picker</h1>
    <h2> Welcome to Professor Picker, Fast and easy way to find a substitue Educator when your main Teacher/Professor is absent  </h2>

    <form>
        <input type="text" placeholder="search" name="search">
        <input type="submit">
    </form>

    <h2> State:</h2>
    
    <form>
        <input type="text" placeholder="" name="state">
        <input type="submit">
    </form>

    <h3> <a href="/Create"> Create Profile </a></h3>

    <h1>Educators:</h1>
    <ul>

    </ul>


    
    <script src="public/main.js"></script>
</body>
</html>