/* Box Model Hack */
*{
    box-sizing: border-box;
}
  
  /* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
  
.clear {
    clear: both;
}
  
/******************************************
/* BASE STYLES
/*******************************************/
  

  
  
/******************************************
/* LAYOUT
/*******************************************/
  
  
/******************************************
/* ADDITIONAL STYLES
 /*******************************************/

li{
    display: flex;
    justify-content: flex-end;
    padding-right:150px ;
}

 /* Header */
:root{
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-white: #141d28;
    --color-black-1: #212b38;
}

.logo{
    color: var(--color-white);
    font-size:30px;
}

.logo span{
    color: var(--color-primary);
}

/* Header */


/* Section */

body{
    margin: 0;
    padding: 0;
    
}

.sign-up-form{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3s);
    background: #ffff;
    padding: 20px;
    margin: 8% aut0 0;
    text-align: center;
   
}
.sign-up-form{
    color: #0073ff;
    margin-bottom: 30px;
}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor:pointer;
}
.signup-btn{
    background-color: #1c8adb;
}

a{
    text-decoration: none;
}
hr{
    margin-top: 20px;
    width: 80%;
}

section{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

/* Section */

